<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <h1 style="color: red;">404 Error!Source not found</h1>
    <h3><a href="/" style="text-decoration: none;">Back to homepage</a></h3>
    <%-include('./partials/footer.ejs')%>
</body>

</html>