<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')%>

<body>
   <%- include('./partials/nav.ejs')%>
   <div class="about content">
       <h2>About Us</h2>
       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam ab, sequi ea praesentium explicabo dolore odit nulla architecto corrupti quam.</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis similique cumque aspernatur praesentium nostrum. Corporis mollitia eligendi architecto sunt quidem.</p>
   </div>
   <%-include('./partials/footer.ejs')%>
</body>

</html>