<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/nav.ejs')%>
    <div class="details content">
        <h2><%= blog.title%></h2>
        <div class="content">
            <p><%=blog.body%></p>
        </div>
        <a id="delete" class="delete" data-doc="<%=blog._id%>">delete</a>

    </div>
    <%-include('./partials/footer.ejs')%>
    <script>
        const trashcan = document.getElementById('delete');
        trashcan.addEventListener('click', (e) => {
            let isDelete = confirm('Do you really want to delete?')
            if (isDelete) {
                const endPoint = `/blogs/${trashcan.dataset.doc}`;
                fetch(endPoint, {
                    method: 'DELETE'
                })
                    .then((response) => response.json())
                    .then(data => window.location.href = data.redirect)
                    .catch((err) => console.log(err))
            }
        })
    </script>
</body>


</html>