<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/nav.ejs')%>
    <div class="blog-content">
        <h2>All Blogs</h2>
        <%if(blogs.length>0) {%>
        <% blogs.forEach(blog=> {%>
        <a class="blogsLink"  href="/blogs/<%=blog._id%>">
            <div style="margin-bottom: 20px;">
        <h3 class="title"><%=blog.title%></h3>
        <p class="snippet"><%=blog.snippet%></p>
    </div>
        </a>
        <%})%>
        <% }else{ %>
        <h2>No blogs yet..create a new one</h2>
        <% } %>
    </div>
    <%-include('./partials/footer.ejs')%>
</body>


</html>