html{
    background-color: black;

}

.blogsLink div{
    
    border-left: 5px solid crimson;
    padding-left: 10px;
}

.blogsLink:hover h3{
    color: crimson;

}

.details{
    position: relative;
}

.delete{
    position: absolute;
    top: 0;
    right: 0;
}

.delete:hover{
    cursor: pointer;
}